{% extends "Layout.html" %}
{% block title %}List 3000{% endblock %}
{% block content %}


        <tbody>
        {% for record in DATA %}
        <tr>
            {% for index in range(0, DATA[record]|length) %}
                {% if index == 1 %}
                    <td><a href="{{ url_for('edit_data', story_id=DATA[record][0])}}">{{ DATA[record][index] }}</a></td>
                {% else %}
                    <td>{{ DATA[record][index] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
{% endblock %}