{% extends "Layout.html" %}
{% block title %}List 3000{% endblock %}
{% block content %}


        <tbody>
        {% for record in user_stories %}
        <tr>
            {% for index in range(0, user_stories[record]|length) %}
                {% if index == 1 %}
                    <td><a href="{{ url_for('edit_data', story_id=user_stories[record][0])}}">{{ user_stories[record][index] }}</a></td>
                {% else %}
                    <td>{{ user_stories[record][index] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}


        </tbody>
{% endblock %}